:root{
    --num-rows: 5;
    --num-cols: 8;
    --board-width:600px;
    --apple-size: calc(var(--board-width)/var(--num-cols));


    --color-text: #533;
    --color-bg: #F4F1ED;
    --color-apple-bg-selected :#059BEB;
    --color-apple-icon: #E21B1B;
    --color-apple-icon-selected: #F4BC01;
    --color-board-border: #06CD68;
    --color-progress-border: #06CD68;
    --progress-bg:#D6F7CE;
}


*{
    margin: 0;
    padding: 0;
    font-family: sans-serifs;
    color: var(--color-text);
}

body{
    padding-top: 15px;
    background-color: var(--color-bg);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#controls{
    width: var(--board-width);
    display: flex;
    align-items: center;
    gap: 20px;

    #score{
        flex-shrink: 0;
        position: relative;
        width: 60px;
        height: 60px;
        transform: translateY(-7px);
        path{
            fill : var(--color-apple-icon)
        }
        span{
            position: absolute;
            top: 4px;;
            left:0;
            width: 100%;
            height: 100%;
            color: white;
            font-weight: bold;
            font-size: 24px;
            
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    #progress{
        flex-shrink: 1;
        width: 100%;
        height: 24px;
        background-color: var(--progress-bg);
        border: 8px solid var(--color-progress-border);
        border-radius: 12px;
        overflow: hidden;
        
        div {
            width: 70%;
            height: 100%;
            background-color: var(--color-progress-border);
        }
    }

    #start{
        flex-shrink: 0;

    }
}

#board{
    padding :15px;
    border: 8px solid var(--color-board-border);
    border-radius: 12px;
    background-image: url("..//resource/background.png");

    display: grid;
    grid-template-columns: repeat(var(--num-cols), var(--apple-size));
    grid-template-rows: repeat(var(--num-rows), var(--apple-size));

    * {
        user-select: none;
    }

    .apple {
        position: relative;

        svg{
            margin: 2px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
        }

        span{
            position: absolute;
            z-index: 1;
            
            top : 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: white;

            font-size: calc(var(--apple-size)/2);
            font-weight: bold;
            transform: translateY(6%);
            
            display: flex;
            align-items: center;
            justify-content: center;

        }

        path{
            fill : var(--color-apple-icon);
        }
    }

    .apple:hover{
        cursor: crosshair;
    }

    .apple.selected{
        background-color: var(--color-apple-bg-selected);

        path{
            fill : var(--color-apple-icon-selected);
        }

        span{
                color : --var(--color-text);
        }
    }

    .apple.collected{
        svg{
            opacity: 0;
            transform: scale(2);
            transition: opacity 300ms, transform 300ms;
        }

        span{
                opacity: 0;
                transition: opacity 300ms;
        }
    }

}